# Funções Buil-In

### Função Map

Map recebe 2 argumentos: map(função,sequência)
Retorna a sequencia com a função aplicada em todos os elementos

In [7]:
#Criando duas funções

#Recebe uma temperatura em celsius e retorna a temperatura em fahrenheit
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

#Recebe uma temperatura em fahrenheit retorna a temperatura em celsius
def celsius(T):
    return ((float(5.0)/9)*(T - 32))

In [16]:
#Criando uma lista
temperaturas = [0,22.5,40,100]

In [9]:
#Aplicando a função a cada elemento da lista de temperaturas.
#Em python 3 a função map retorna um iterador
map(fahrenheit,temperaturas)

In [10]:
#Função Map retornando a lista de temperaturas convertidas em Fahrenheit
list(map(fahrenheit,temperaturas))

[32.0, 72.5, 104.0, 212.0]

In [11]:
#Usando um loop para imprimir o resultado da função map
for temp in map(fahrenheit,temperaturas):
    print(temp)

32.0
72.5
104.0
212.0

In [8]:
for temp in map(celsius,temperaturas):
    print(temp)

-17.77777777777778
-5.277777777777778
4.444444444444445
37.77777777777778

In [18]:
#Usando lambda
map(lambda x:(float(9)/5)*x + 32,temperaturas)

In [19]:
list(map(lambda x:(float(9)/5)*x + 32,temperaturas))

[32.0, 72.5, 104.0, 212.0]

In [21]:
#Somando elementos de 2 listas
a= [1,2,3,4]
b= [5,6,7,8]

In [22]:
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [23]:
#Somando os elementos de 3 listas
a= [1,2,3,4]
b= [5,6,7,8]
c= [9,10,11,12]

In [24]:
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 18, 21, 24]

### Função Reduce

Ao contrário da função map, aplica a função aos elementos da sequencia até que se chegue em um unico valor.
Hadoop e SPark

In [25]:
# Importando a função do módulo functools
from functools import reduce

In [26]:
#Criando uma lista
lista = [47,11,42,13]

In [27]:
#Função
def soma(a,b):
    return a+b

In [28]:
#Usando reduce com uma função e uma lista. A função vai retornar o valor da soma de todos os valores
reduce(soma,lista)

113

In [29]:
#Criando uma lista
lst = [47,11,42,13]

In [32]:
#Reduce com Lambda
val = reduce(lambda x,y:x+y,lst)

In [33]:
print(val)

113

In [39]:
#Podemos atribuir a expressão lambda a uma variavel
max_find = lambda a,b: a if(a>b) else b

In [40]:
type(max_find)

function

In [41]:
#Reduzindo a lista até o valor maximo,atraves da função criada com a expressão lambda
reduce(max_find,lst)

47

In [43]:
#teste integrado
max_find1 = reduce(lambda a,b: a if(a>b) else b,lst)

In [44]:
print(max_find1)

47

### Filter

Filtrar todos os elementos de uma sequencia, para o qual a função retorne true

In [46]:
#Criando uma função true e false começam com maiusculo
def verificaPar(num):
    if num%2 == 0:
        return True
    else:
        return False

In [47]:
#Testando a função
verificaPar(35)

False

In [48]:
lista = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]

In [49]:
#Aplicando o filter
filter(verificaPar,lista)

In [50]:
list(filter(verificaPar,lista))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
#Utilizando o lambda
list(filter(lambda x:x%2==0,lista))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
list(filter(lambda num:num>8,lista))

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

### List Comprehension

É um método mais rapido e eficiente do que o map()

In [53]:
#Retornar cada caractere em uma sequencia de caracteres
lst = [x for x in 'python']

In [54]:
#check
lst

['p', 'y', 't', 'h', 'o', 'n']

In [55]:
type(lst)

list

In [56]:
#Raiz quadrada em um range de numeros e retornar uma lista
lst = [x**2 for x in range(0,11)]

In [57]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
#Verificar os números pares em um range de numero
lst1 = [x for x in range(0,11) if x%2==0]

In [63]:
lst1

[0, 2, 4, 6, 8, 10]

In [65]:
#converter celsius para fahrenheit
celsius = [0,10,20.1,34.5]

frt = [((float(9)/5)*temp +32) for temp in celsius]

frt

[32.0, 50.0, 68.18, 94.1]

In [66]:
#Operações aninhadas -Raiz quadrada da raiz quadrada
lst2 = [x**2 for x in [x**2 for x in range(11)]]

In [67]:
lst2

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

### Função ZIP

Agrega valores de duas sequencias e retorna uma tupla.

Retorna o numero de elementos terá o mesmo numero de elementos da sequencia menor.

In [71]:
#Criando duas listas
x = [1,2,3]
y = [4,5,6]

In [72]:
#unindo usando zip
zip(x,y)

In [74]:
#Zip retorna tuplas, neste caso uma lista de tuplas
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [75]:
#Atenção quando as sequencias tiverem tamanhos diferentes de elementos
list(zip('ABDC','abc'))

[('A', 'a'), ('B', 'b'), ('D', 'c')]

In [ ]:
#Criando outra lista
a = [1,2,3,4]
b = [5,6,7]

In [76]:
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [77]:
#Criando 2 dicionarios
d1 = {'a':1,'b':2}
d2 = {'c':3,'d':4}

In [78]:
#Zip vai unir as chaves
list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

In [81]:
#Zip pode unir os valores(itens)chave de d1 com o valor d2
list(zip(d1.values(),d2.values()))

[(1, 3), (2, 4)]

In [86]:
#Criando uma função para trocar valores entre 2 dicionários
def trocaValores(d1,d2):
    dicTemp = {}
    for d1key,d2val in zip(d1,d2.values()):
        dicTemp[d1key] = d2val
    return dicTemp

In [87]:
trocaValores(d1,d2)

{'a': 3, 'b': 4}

### Enumerate

Retorna o indice de cada valor em uma sequencia.

Retorna uma tupla no formato tupla(indice,valor)

In [88]:
#Criando uma lista
seq = ['a','b','c']

In [89]:
enumerate(seq)

In [90]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [91]:
#Imprimindo valores de uma lista com a função enumerate() e seus respectivos indices
for indice,valor in enumerate(seq):
    print(indice,valor)

0 a
1 b
2 c

In [92]:
for indice,valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print(valor)

a
b

In [93]:
lista = ['Marketing','Tecnologia','Business']

In [94]:
for i,item in enumerate(lista):
    print(i,item)

0 Marketing
1 Tecnologia
2 Business

In [95]:
for i,item in enumerate('lista'):
    print(i,item)

0 l
1 i
2 s
3 t
4 a

In [98]:
for i,item in enumerate(range(5)):
    print(i,item)

0 0
1 1
2 2
3 3
4 4